
@{
    Layout = null;
    ViewData["Title"] = "PayFail";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <style>

    </style>
</head>
<body>
    <div style="margin:50px 80px 10px 80px;">
        <div style="margin-top:5px;"></div>
        <blockquote class="layui-elem-quote">
            Sorry, Payment Failed!
        </blockquote>

        @{
            if (@ViewBag.msg != null)
            {
                <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
                <script src="/lib/layer/layer.js" charset="utf-8"></script>
                <script type="text/javascript">
                    var str = '@(ViewBag.msg)';
                    layer.msg(str);
                </script>
            }
        }
    </div>
    <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script>
        layui.use(function () {
            var form = layui.form,
                layer = layui.layer;

            window.onload = function () {

            }
        });

    </script>
</body>

</html>