
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student_Services</title>
</head>
<body>
    <h1>Student Services</h1>
</body>
</html>
