@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Select List</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <style>
        .layui-elem-quote {
            margin-bottom: 10px;
            padding: 8px;
            line-height: 1.8;
            border-left: 5px solid #16b777;
            border-radius: 0 2px 2px 0;
            background-color: #fafafa;
        }
    </style>
</head>
<body>
    <div style="margin:50px 80px 10px 80px;">
        <div style="margin-top:5px;"></div>
        
        <div class="layui-row">
            <div class="layui-col-xs2">
                <img style="height:50px" src="/lib/images/logo.png">
            </div>
            <div class="layui-col-xs6">
                <blockquote class="layui-elem-quote">
                    @Html.Raw(@ViewBag.welcomeStr)
                </blockquote>
            </div>
            <div class="layui-col-xs4">

                <a class="layui-btn layui-bg-blue layui-btn-radius" href="/MainView/Index">Back to Main Panel</a>
                
                <a class="layui-btn layui-btn-primary layui-btn-radius layui-bg-red" href="/SelectView/Logout">Logout</a>
            </div>
        </div>
        <table class="layui-hide" id="apply" lay-filter="apply" lay-data="{height: '400', cellMinWidth: 80, page: true, limit:30}"></table>
        <script type="text/html" id="toolbarDemo">
            <button class="layui-btn layui-btn-sm" id="refreshbt" type="button" lay-event="reflash"><i class="layui-icon layui-icon-refresh"></i>Refresh</button>

        </script>
        <script type="text/html" id="barDemo">
            <div class="layui-clear-space">
              <a class="layui-btn layui-btn-xs" lay-event="apply">Apply</a>
              <a class="layui-btn layui-btn-xs" lay-event="pay">Pay</a>
              <a class="layui-btn layui-btn-xs" lay-event="refund">Refund</a>
            </div>
        </script>
    </div>
    <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script>

        layui.use(function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , table = layui.table;

            var tableIns = table.render({
                elem: '#apply'
                , toolbar: '#toolbarDemo'
                , height: 'full-40'
                , size: 'sm'
                , url: 'GetSelectCourseTableData?time=' + new Date().getTime()
                , where: { url: document.URL }
                , cols: [[
                    { type: 'radio', title: '😊' }
                    
                    , { field: 'Select_Id', width: '5%', title: 'id', hide: true, align: 'center' }
                    , { field: 'Course_Id', width: '5%', title: 'Course Id', hide: true, align: 'center' }
                    , { field: 'Course_Name', width: '13%', title: 'Course Name', align: 'center',sort:'true' }
                    , { field: 'Start_Time', width: '12%', title: 'Start Time', align: 'center' }
                    , { field: 'End_Time', width: '12%', title: 'End Time', align: 'center' }
                    , { field: 'Course_Hours', width: '5%', title: 'Hours', align: 'center' }
                    , { field: 'Course_Price', width: '5%', title: 'Price', align: 'center' }
                    , { field: 'Select_Time', width: '13%', title: 'Select Time', align: 'center' }
                    , { field: 'Enrollment_Status', width: '8%', title: 'Enrollment Status', align: 'center' }
                    , { field: 'Payment_Status', width: '8%', title: 'Payment Status', align: 'center' }
                    , { fixed: 'right', title: 'Operate', minWidth: 125, toolbar: '#barDemo' }
                ]]
                , data: []
                , page: true
                , limit: 10
                , limits: [10, 30, 40, 50, 60, 70, 80, 90]
                , parseData: function (res) {
                    var pagecurr = 1;
                    if (this.page.curr != null)
                        pagecurr = this.page.curr;
                    var result = res.slice(this.limit * (pagecurr - 1), this.limit * pagecurr);

                    return {
                        "code": "0",
                        "msg": "",
                        "count": res.length,
                        "data": result
                    };
                }
                , done: function () {

                }


            });

            table.on('toolbar(apply)', function (obj) {
                switch (obj.event) {
                    case 'reflash':
                        tableIns.reload('apply', { where: { time: new Date() } });
                        layer.msg("Reflash Success!");
                        break;
                };
            });
            // 触发单元格工具事件
            table.on('tool(apply)', function (obj) { // 双击 toolDouble
                var data = obj.data; // 获得当前行数据
                // console.log(obj)
                if (obj.event === 'apply') {
                    ApplyCourse(data.Select_Id);
                } else if (obj.event === 'pay') {
                    PayCourse(data.Course_Id);
                }
                else if (obj.event === 'refund') {
                    PayRefund(data.Course_Id);
                }
            });

            window.ApplyCourse = function (selectid) {
                $.ajax({
                    type: 'post',
                    url: 'ApplyCourse?time=' + new Date().getTime(),
                    data: { selectid: selectid },
                    success: (data) => {
                        var resJson = JSON.parse(data);
                        if (resJson.state != 1) {
                            layer.alert(resJson.msg, { title: "alert" });
                        }
                        else {
                            tableIns.reload('apply', { where: { time: new Date() } });
                            layer.msg(resJson.msg);
                        }

                    }
                });
            }
            window.PayCourse = function (courseid) {
                layer.open({
                    skin: 'layui-layer-lan',
                    type: 2,
                    title: 'EditCourse',
                    shadeClose: false,
                    shade: [0.8, '#000'],
                    moveOut: true,
                    //maxmin: true,
                    area: ['90%', '90%'],
                    content: "/MainView/CoursePay?id=" + courseid,
                });
            };
            window.PayRefund = function (courseid) {
                layer.confirm("Are you sure to refund this course?", {
                    btn: ['Sure', 'Cancel']
                }, function () {
                    $.ajax({
                        type: 'post',
                        url: 'StudentRefundCourse?time=' + new Date().getTime(),
                        data: { course_id: courseid },
                        success: (data) => {
                            var resJson = JSON.parse(data);
                            if (resJson.state != 1) {
                                layer.alert(resJson.msg, { title: "alert" });
                            }
                            else {
                                tableIns.reload('apply', { where: { time: new Date() } });
                                layer.msg(resJson.msg);
                            }

                        }
                    });

                });
            };
        });


    </script>
</body>
</html>