
@{
    Layout = null;
    ViewData["Title"] = "CourseManament";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Course Management</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
    <style>
    </style>
</head>
<body>
    <div class="layui-container">
        <div style="margin-top:10px;"></div>
        <div class="layui-row">
            <div class="layui-col-xs2">
                <img style="height:50px" src="/lib/images/logo.png">
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <div class="layui-input-group">
                        <div class="layui-input-prefix">
                            Search
                        </div>
                        <input style="width:500px;" type="text" placeholder="input course to search" class="layui-input" id="course_nameTb">
                        <div class="layui-input-split layui-input-suffix" style="cursor: pointer;">
                            <i class="layui-icon layui-icon-search" onclick="OnSearch()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <a class="layui-btn layui-btn-primary layui-btn-radius" href="javascript:void(0)" onclick="AddCourse()">Add Course</a>
                <a class="layui-btn layui-btn-primary layui-btn-radius" href="/MainView/AdminIndex">Back to Admin Panel</a>
                <a class="layui-btn layui-btn-primary layui-btn-radius layui-bg-red" href="Logout">Logout</a>
            </div>
        </div>

        @{
            if (@ViewBag.msg != null)
            {
                                    <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
                                    <script src="/lib/layer/layer.js" charset="utf-8"></script>
                                    <script type="text/javascript">
                                        var str = '@(ViewBag.msg)';
                                        layer.msg(str);
                                    </script>
            }
        }
        <script type="text/html" id="courseimg">
            <img style="height:30px" src="{{'data:image/png;base64,' + d.Course_Img}}">
        </script>
        <table class="layui-hide" id="apply" lay-filter="apply" lay-data="{height: '400', cellMinWidth: 80, page: true, limit:30}"></table>
        <script type="text/html" id="toolbarDemo">
            <button class="layui-btn layui-btn-sm" id="refreshbt" type="button" lay-event="reflash"><i class="layui-icon layui-icon-refresh"></i>Reflash</button>
            
        </script>
        <script type="text/html" id="barDemo">
            <div class="layui-clear-space">
              <a class="layui-btn layui-btn-xs" lay-event="edit">Edit</a>
              <a class="layui-btn layui-btn-xs" lay-event="delete">Delete</a>
            </div>
        </script>
    </div>
    <script src="/lib/jquery/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script>

        layui.use(function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , table = layui.table;

            var tableIns = table.render({
                elem: '#apply'
                , toolbar: '#toolbarDemo'
                , height: 'full-40'
                , size: 'sm'
                , url: 'GetCourseTableData?time=' + new Date().getTime()
                , where: { course_name: $("#course_nameTb").val() }
                , cols: [[
                    { type: 'radio', title: '😊' }
                    , { field: 'Course_Image', title: 'Course Image', width: '10%', align: 'center', templet: '#courseimg' }
                    , { field: 'Id', width: '10%', title: 'id', hide: true, align: 'center' }
                    , { field: 'Course_Name', width: '10%', title: 'Course Name', align: 'center' }
                    , { field: 'Start_Time', width: '15%', title: 'Start Time', align: 'center' }
                    , { field: 'End_Time', width: '15%', title: 'End Time', align: 'center' }
                    , { field: 'Course_Hours', width: '10%', title: 'Hours', align: 'center' }
                    , { field: 'Course_Price', width: '10%', title: 'Price', align: 'center' }
                    , { field: 'Course_Description', width: '25%', title: 'Description', align: 'center' }
                    ,{ fixed: 'right', title: 'Operate', minWidth: 125, toolbar: '#barDemo' }
                ]]
                , data: []
                , page: true
                , limit: 10
                , limits: [10, 30, 40, 50, 60, 70, 80, 90]
                , parseData: function (res) {
                    var pagecurr = 1;
                    if (this.page.curr != null)
                        pagecurr = this.page.curr;
                    var result = res.slice(this.limit * (pagecurr - 1), this.limit * pagecurr);

                    return {
                        "code": "0",
                        "msg": "",
                        "count": res.length,
                        "data": result
                    };
                }
                , done: function () {

                }


            });

            table.on('toolbar(apply)', function (obj) {
                switch (obj.event) {
                    case 'reflash':
                        tableIns.reload('apply', { where: { time: new Date() } });
                        layer.msg("Reflash Success!");
                        break;
                };
            });
            // 触发单元格工具事件
            table.on('tool(apply)', function (obj) { // 双击 toolDouble
                var data = obj.data; // 获得当前行数据
                // console.log(obj)
                if (obj.event === 'edit') {
                    EditCourse(data.Course_Id);
                } else if (obj.event === 'delete') {
                    DeleteCourse(data.Course_Id);
                    }
                
            });

            window.OnSearch = function () {
                table.reloadData('apply', { where: { course_name: $("#course_nameTb").val() } });
                layer.msg("Search Success!");
            }

            window.AddCourse = function () {
                layer.open({
                    skin: 'layui-layer-lan',
                    type: 2,
                    title: 'AddCourse',
                    shadeClose: false,
                    shade: [0.8, '#000'],
                    moveOut: true,
                    //maxmin: true, //开启最大化最小化按钮
                    area: ['90%', '90%'],
                    content: "AddCourse",
                });
            }
            window.EditCourse = function (courseid) {
                layer.open({
                    skin: 'layui-layer-lan',
                    type: 2,
                    title: 'EditCourse',
                    shadeClose: false,
                    shade: [0.8, '#000'],
                    moveOut: true,
                    //maxmin: true,
                    area: ['90%', '90%'],
                    content: "AddCourse?id=" + courseid,
                });
            };
            window.DeleteCourse = function (courseid) {
                layer.confirm("Are you sure to delete this data?", {
                    btn: ['Sure', 'Cancel']
                }, function () {
                    $.ajax({
                        type: 'post',
                        url: 'DeleteCourse?time=' + new Date().getTime(),
                        data: { course_id: courseid },
                        success: (data) => { 
                            var resJson = JSON.parse(data);
                            if (resJson.state != 1) {
                                layer.alert(resJson.msg, { title: "alert" });
                            }
                            else {
                                tableIns.reload('apply', { where: { time: new Date() } });
                                layer.msg(resJson.msg);
                            }

                        }
                    });

                });
            };
        });


    </script>
</body>
</html>